@media (min-width: 720px) {
  .main-page {
    overflow-x: clip;
  }
}

@media (min-width: 720px) and (max-width: 888px) {
  .recently_btn-hover.recently_btn-hover-play {
    margin: 0 !important;
  }
  .container_recently .player_btn span:first-child {
    font-size: 1.3rem;
    padding: 1rem;
  }
  .container_recently .recently_btn-hover-play {
    margin: 0;
  }
  .container_recently .recently_btn-hover-play span {
    font-size: 4rem;
    padding: 0;
  }
  .container_recently .recently_btn-hover-play span ion-icon {
    font-size: 4rem;
  }
}

@media (min-width: 720px) and (max-width: 1023px) {
  .header {
    right: 0;
  }
  .header .header_content .header_content-left form {
    margin-left: 14px;
  }
  .header .header_content .header_content-left .header_btn-back {
    margin-right: 4px;
  }
  .header .header_content .header_content-left .header_btn-back span {
    font-size: 2.2rem;
  }
  .header .header_content .header_content-left .header_btn-next {
    margin-left: 4px;
  }
  .header .header_content .header_content-left .header_btn-next span {
    font-size: 2.2rem;
  }
}

@media (min-width: 1112px) {
  .main-page .main_topchart-week .zing-chart_list .zing-chart_item .zing-chart_item-left .zing-chart_item-oder {
    min-width: 6.4rem;
  }
}

@media (max-width: 1379px) {
  .m2-6 {
    max-width: 16.6666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
  }
  .m-none {
    display: none;
  }
  .m-block {
    display: block;
  }
  .header {
    right: 0;
  }
}

@media (max-width: 1225px) {
  .player_queue .player_queue-main .player_queue-header {
    padding-top: 1.8rem;
    padding-bottom: 1.4rem;
  }
  .player_queue .player_queue-main .player_queue-container {
    margin-top: 70px;
  }
  .main.hide-bottom .playing-bar {
    pointer-events: none;
  }
  .header {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }
  .sider-navbar {
    padding-top: 0;
  }
  .main-page {
    margin-top: 74px;
  }
  .m2-5 {
    max-width: 20%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  .m2-none {
    display: none;
  }
  .header {
    right: 0;
  }
  .order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .zing-chart_right {
    margin-bottom: 2rem;
  }
  .main-page {
    margin-left: 7rem;
  }
  .header {
    left: 7rem;
  }
}

@media (max-width: 1000px) {
  .main_page {
    overflow-x: clip;
  }
  .header {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .main-page .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .main-page .container_choice .choice-btn-left {
    left: -1rem;
  }
  .main-page .container_choice .choice-btn-right {
    right: -1rem;
  }
  .playing-bar .player_controls-main {
    padding-right: 3.2rem;
  }
  .main-page .slider_list-btn-left {
    left: 1.2rem;
  }
  .main-page .slider_list-btn-right {
    right: 1.2rem;
  }
  .nowplaying .nowplaying-content .nowplaying-header .nowplaying-header_tab .nowplaying-header_tab-item {
    font-size: 14px;
    padding: 7px 14px;
    font-weight: 600;
  }
  .nowplaying .nowplaying-content .nowplaying-body .nowplaying-body_lyrics .nowplaying-body_lyrics-item.lyrics ul {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nowplaying .nowplaying-content .nowplaying-body .nowplaying-body_lyrics .nowplaying-body_lyrics-item.lyrics ul .item {
    text-align: center;
  }
  .nowplaying .nowplaying-content .nowplaying-body .want_list .slider_list-btn-left,
  .nowplaying .nowplaying-content .nowplaying-body .want_list .slider_list-btn-right {
    top: 70%;
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
  }
}

@media (max-width: 1112px) {
  .main-page .container_want .want_list .want_list-item:last-child {
    display: none;
  }
  .m-0 {
    display: none;
  }
  .playing-bar .player_controls-left .media_right {
    display: none;
  }
  .player_controls-right .playing_volume input {
    display: none;
  }
  .playing-bar .player_controls-right .playing_volume:hover .playing_volume-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #353535;
    padding: 1rem;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border-radius: 4px;
    position: absolute;
    top: -70%;
  }
  .playing-bar .player_controls-right .playing_volume:hover input {
    width: 10rem;
    height: 3px;
    margin-left: 0;
    display: block;
  }
}

@media (min-width: 1226px) and (max-width: 1590px) {
  .container_recently .player_btn span:first-child {
    font-size: 1.3rem;
    padding: 1rem;
  }
  .container_recently .recently_btn-hover-play {
    margin: 2px;
  }
  .container_recently .recently_btn-hover-play span {
    font-size: 4rem;
  }
}

@media (max-width: 1590px) {
  .main-page {
    margin-right: 0;
  }
  .player_queue {
    -webkit-transition: 0.5s linear;
    transition: 0.5s linear;
    right: -350px;
    -webkit-box-shadow: var(--box-shadow-queue);
            box-shadow: var(--box-shadow-queue);
    background-color: var(--layout-bg);
  }
  .player_queue .player_queue-header {
    right: -350px;
    position: absolute;
  }
  .player_device-column {
    display: block;
    height: 33px;
    width: 1px;
    background-color: var(--border-player);
    margin: 0 10px;
  }
  .playing_playlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    position: relative;
    margin-left: 1rem;
  }
  .playing_playlist.btn_active {
    background-color: var(--purple-primary);
    color: white;
  }
  .playing_playlist.btn_active:hover {
    opacity: 0.8;
  }
  .playing_playlist:not(.btn_active):hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .playing_playlist:not(.btn_active):hover .playing_title-hover {
    visibility: visible;
    top: -105%;
    right: -20%;
    left: unset;
  }
  .playing_playlist:not(.btn_active):hover .playing_title-hover::after {
    left: 80%;
  }
  .playing_playlist span {
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--player-text);
    font-size: 12px;
    font-size: 2rem;
    padding: 0.5rem;
  }
  .header {
    right: 0;
  }
}

@media (min-width: 1591px) and (max-width: 1700px) {
  .container_recently .player_btn span:first-child {
    font-size: 1.2rem;
    padding: 1rem;
  }
  .container_recently .recently_btn-hover-play {
    margin: 0;
  }
  .container_recently .recently_btn-hover-play span,
  .container_recently .recently_btn-hover-play .icon_play-btn {
    font-size: 4rem;
  }
}

@media (min-width: 1701px) and (max-width: 1820px) {
  .container_recently .player_btn span:first-child {
    font-size: 1.6rem;
    padding: 1rem;
  }
  .container_recently .recently_btn-hover-play {
    margin: 0;
  }
  .container_recently .recently_btn-hover-play span {
    font-size: 4rem;
  }
}

@media (max-width: 719px) {
  .player_queue .player_queue-main .player_queue-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .player_queue .player_queue-main .player_queue-container {
    margin-top: 60px;
  }
  .main .section {
    background-image: unset;
    background-color: var(--layout-bg);
  }
  .main.hide-bottom .sider-navbar {
    height: auto !important;
  }
  .main.hide-bottom .main-page {
    margin-bottom: 2rem !important;
  }
  .main.hide-bottom .playing-bar {
    pointer-events: none;
  }
  .nowplaying .nowplaying-content .nowplaying-header .nowplaying-header_setting .nowplaying-header_setting-item.item-setting ul {
    top: 0;
    right: 130%;
  }
  .nowplaying-header_setting-btn.full {
    display: none !important;
  }
  .playing-bar .player_queue {
    background-color: var(--layout-bg);
  }
  .playing-bar.active .player_queue .player_queue-main .player_queue-header {
    background: transparent;
    left: 0;
    position: unset !important;
  }
  .playing-bar.active .player_queue .player_queue-main .player_queue-container {
    margin-top: 0;
  }
  .playing-bar.active .player_queue {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-left: none;
    opacity: .3;
    -webkit-transition: .4s linear;
    transition: .4s linear;
    z-index: 1;
    bottom: -50px;
    width: 100vw;
    min-height: 100vh;
    right: -100%;
    background: #C33764;
    background: -webkit-gradient(linear, left top, right top, from(rgba(29, 37, 113, 0.95)), to(rgba(195, 55, 99, 0.95)));
    background: linear-gradient(to right, rgba(29, 37, 113, 0.95), rgba(195, 55, 99, 0.95));
  }
  .playing-bar.active .player_queue .player_queue-item {
    padding: .8rem 1.2rem;
    margin-bottom: .4rem;
  }
  .playing-bar.active .player_queue.player_queue-is_active {
    opacity: 1;
    -webkit-animation: opacity .3s linear;
            animation: opacity .3s linear;
    -webkit-transition: .4s linear;
    transition: .4s linear;
    z-index: 1;
    bottom: -51px;
    width: 100vw;
    min-height: 100vh;
  }
  .playing-bar.active .player_queue .player_queue-main {
    max-height: 100vh;
    height: 100vh;
  }
  .playing-bar.active .player_controls-center .player_top {
    width: 100%;
    margin-top: 1rem;
  }
  .playing-bar.active .playing-bar-main .icon_play-btn {
    font-size: 6.5rem;
  }
  .playing-bar.active .playing-bar-main .player_device-column,
  .playing-bar.active .playing-bar-main .playing_karaoke,
  .playing-bar.active .playing-bar-main .playing_volume,
  .playing-bar.active .playing-bar-main .playing_window {
    display: none;
  }
  .playing-bar.active .playing-bar-main .playing_random,
  .playing-bar.active .playing-bar-main .player_bottom,
  .playing-bar.active .playing-bar-main .playing_replay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .playing-bar.active .player_controls-main {
    min-width: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .playing-bar.active .player_controls-main .player_controls-left {
    display: none;
  }
  .playing-bar.active .player_controls-main .player_controls-center {
    max-width: 80vw;
    padding-left: 0;
    margin-bottom: 4rem;
  }
  .playing-bar.active .player_controls-main .player_controls-right {
    width: 0;
    height: 0;
  }
  .playing-bar.active .player_controls-main .player_controls-right .playing_playlist {
    position: fixed;
    z-index: 1;
    bottom: 50px;
    right: 11.5%;
  }
  .playing-bar.active .player_controls-main .player_controls-right .playing_playlist span {
    font-size: 2.4rem;
  }
  .playing-bar.active .player_controls-main .player_controls-right .playing_playlist .playing_title-hover {
    display: none;
  }
  .want_list.nowplaying-body_item {
    height: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nowplaying .nowplaying-content .nowplaying-body .want_list-item .want_list-item-link {
    width: 75%;
    margin: auto;
  }
  .nowplaying .nowplaying-content .recently_list-item_hover {
    width: 75%;
  }
  .nowplaying .nowplaying-content .nowplaying-header .nowplaying-header_left .info {
    display: none;
  }
  .nowplaying .nowplaying-content .nowplaying-header .nowplaying-header_tab .nowplaying-header_tab-item {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .nowplaying-header {
    position: unset !important;
  }
  .nowplaying .nowplaying-content .nowplaying-header .nowplaying-header_setting {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 30%;
    top: unset;
    right: 12px;
    z-index: 10;
  }
  .nowplaying .nowplaying-content .nowplaying-header .nowplaying-header_setting .nowplaying-header_setting-item {
    margin-top: 1rem;
  }
  .nowplaying .nowplaying-content .nowplaying-body .nowplaying-body_item.nowplaying-body_karaoke.active {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  .nowplaying .nowplaying-content .nowplaying-body .nowplaying-body_item.nowplaying-body_karaoke.active h2 {
    font-size: 2rem;
  }
  .nowplaying .nowplaying-content .nowplaying-body .nowplaying-body_lyrics .nowplaying-body_lyrics-item.lyrics {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nowplaying .nowplaying-content .nowplaying-body .nowplaying-body_lyrics {
    height: 70vh;
  }
  .nowplaying .nowplaying-content .nowplaying-body .nowplaying-body_lyrics .nowplaying-body_lyrics-item.lyrics ul {
    font-size: 2.6rem;
    padding-right: 2rem;
    max-height: 100%;
    display: block;
    margin-bottom: 5rem;
  }
  .nowplaying .nowplaying-content .nowplaying-body .nowplaying-body_lyrics .nowplaying-body_lyrics-item.lyrics ul .item {
    padding: 1rem 0;
    text-align: left;
  }
  .nowplaying .nowplaying-content .nowplaying-body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main-page .main_mv .main_mv-header {
    padding-left: 3rem;
  }
  .main-page .main_mv .main_mv-container .container_top100-list .col {
    margin-bottom: .6rem;
  }
  .main_mv .container_top100-list.row {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .main_songnew .main_songnew-title {
    height: 18rem !important;
  }
  .main_songnew svg {
    max-width: 80%;
    position: absolute !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-top: 0 !important;
  }
  .c-4 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 30% !important;
            flex: 0 0 30% !important;
    max-width: 30% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-5 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 41.66667% !important;
            flex: 0 0 41.66667% !important;
    max-width: 41.66667% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recently_list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main_topchart-week3.row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .row.zing-chart_bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .m2-5,
  .m-6,
  .m2-6 {
    max-width: 0;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .header {
    left: 0;
    padding: 0.9rem 1.6rem;
    background-color: var(--layout-bg);
  }
  .header .header_content .header_content-left {
    margin-right: 1.4rem;
    margin-left: 1.4rem;
  }
  .header .header_content-btn-user-c {
    display: block;
  }
  .header .header_content-btn-user-c .setting_item-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.6rem;
    background-color: var(--alpha-bg);
    border-radius: 999px;
    cursor: pointer;
  }
  .header .header_content-btn-user-c .material-icons-outlined {
    font-size: 2rem;
  }
  .header .header_content-right .setting_item-vips,
  .header .header_content-right .setting_item-themes,
  .header .header_content-right .setting_item-user {
    display: none !important;
  }
  .header .header_content-left .header_btn-back,
  .header .header_content-left .header_btn-next {
    display: none !important;
  }
  .header .header_content .header_content-right .setting_item {
    width: unset;
    height: unset;
    padding: 0.6rem;
    margin-left: 0;
  }
  .header .header_content .header_content-right .setting_item .material-icons-outlined {
    font-size: 2rem;
  }
  .header .setting_item.setting_item-set .setting_item-title {
    display: none;
  }
  .header .header_btn-search span {
    font-size: 2rem;
  }
  .header .header_content .header_content-left form .header_search {
    font-size: 1.1rem;
    padding: 8px 14px 8px 8px;
  }
  .header .header_content .header_content-left form .header_search::-webkit-input-placeholder {
    font-size: 1.1rem;
  }
  .header .header_content .header_content-left form .header_search:-ms-input-placeholder {
    font-size: 1.1rem;
  }
  .header .header_content .header_content-left form .header_search::-ms-input-placeholder {
    font-size: 1.1rem;
  }
  .header .header_content .header_content-left form .header_search::placeholder {
    font-size: 1.1rem;
  }
  .header .header_content .header_content-left form {
    margin: 0;
    max-width: unset;
  }
  .main-page .container {
    padding: 1.2rem 1.6rem 3rem;
  }
  .main-page .container_want .want_list .want_list-item:last-child {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .container_btn-icon-c {
    display: block;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .container_btn-icon-c .sider_menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container_btn-icon-c .sider_menu-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container_btn-icon-c .sider_menu-list a .material-icons-outlined {
    font-size: 3rem;
    padding: .6rem;
    border-radius: 42%/ 42%;
    margin-bottom: .6rem;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .container_btn-icon-c .sider_menu-list .sider_menu-item:nth-child(1) .material-icons-outlined {
    background-color: #40AAFF;
  }
  .container_btn-icon-c .sider_menu-list .sider_menu-item:nth-child(2) .material-icons-outlined {
    background-color: #FF893C;
  }
  .container_btn-icon-c .sider_menu-list .sider_menu-item:nth-child(3) .material-icons-outlined {
    background-color: #9C14FE;
  }
  .container_btn-icon-c .sider_menu-list .sider_menu-item:nth-child(4) .material-icons-outlined {
    background-color: #09C595;
  }
  .container_btn-icon-c .sider_menu-list .sider_menu-item:nth-child(5) .material-icons-outlined {
    background-color: #FEB718;
  }
  .container_btn-icon-c .sider_menu-list .sider_menu-item-title {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .main-page .container_recently {
    margin-top: 2rem;
  }
  .recently_list,
  .want_list,
  .todaychoice_list,
  .xones_list,
  .everyday_list,
  .container_top100-list,
  .care_list,
  .container_favorite-artist,
  .chart-weekend_list,
  .favorite_list {
    overflow-x: scroll;
  }
  .recently_list::-webkit-scrollbar-track,
  .want_list::-webkit-scrollbar-track,
  .todaychoice_list::-webkit-scrollbar-track,
  .xones_list::-webkit-scrollbar-track,
  .everyday_list::-webkit-scrollbar-track,
  .container_top100-list::-webkit-scrollbar-track,
  .care_list::-webkit-scrollbar-track,
  .container_favorite-artist::-webkit-scrollbar-track,
  .chart-weekend_list::-webkit-scrollbar-track,
  .favorite_list::-webkit-scrollbar-track {
    background-color: unset;
    cursor: unset;
  }
  .recently_list::-webkit-scrollbar,
  .want_list::-webkit-scrollbar,
  .todaychoice_list::-webkit-scrollbar,
  .xones_list::-webkit-scrollbar,
  .everyday_list::-webkit-scrollbar,
  .container_top100-list::-webkit-scrollbar,
  .care_list::-webkit-scrollbar,
  .container_favorite-artist::-webkit-scrollbar,
  .chart-weekend_list::-webkit-scrollbar,
  .favorite_list::-webkit-scrollbar {
    width: 0;
    cursor: unset;
  }
  .recently_list::-webkit-scrollbar-thumb,
  .want_list::-webkit-scrollbar-thumb,
  .todaychoice_list::-webkit-scrollbar-thumb,
  .xones_list::-webkit-scrollbar-thumb,
  .everyday_list::-webkit-scrollbar-thumb,
  .container_top100-list::-webkit-scrollbar-thumb,
  .care_list::-webkit-scrollbar-thumb,
  .container_favorite-artist::-webkit-scrollbar-thumb,
  .chart-weekend_list::-webkit-scrollbar-thumb,
  .favorite_list::-webkit-scrollbar-thumb {
    border-radius: unset;
    background-color: unset;
    cursor: unset;
  }
  .container_chart-weekend {
    margin-top: 30px !important;
  }
  .main-page .container_release .release_list .release-btn-left,
  .main-page .container_release .release_list .release-btn-right {
    padding: 1rem;
    opacity: .5;
    z-index: 90;
  }
  .main-page .container_release .release_list .release-btn-left {
    left: -5px;
  }
  .main-page .container_release .release_list .release-btn-right {
    right: -5px;
  }
  .main-page .container_choice .choice-btn-left {
    left: -12px;
    top: 58%;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .main_page-hover:hover .recently_list-item_hover .recently_btn-hover:not(.recently_btn-hover-play) {
    display: none !important;
  }
  .main-page .container_favorite-artist .favorite_content-name {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .main-page .container_favorite-artist .favorite_content {
    bottom: 5px;
    padding: 0 5px;
  }
  .main-page .container_favorite-artist .favorite_content .row {
    margin-left: -3px;
    margin-right: -3px;
  }
  .main-page .container_favorite-artist .favorite_content .col {
    padding-left: 3px;
    padding-right: 3px;
  }
  .favorite_list .c-5 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 45% !important;
            flex: 0 0 45% !important;
    max-width: 45% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .favorite_list .favorite_content .favorite_content-title {
    display: none;
  }
  .main-page .container_choice .choice-btn-right {
    right: -12px;
    top: 58%;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .container_want,
  .container_todaychoice,
  .container_xones,
  .container_radio,
  .container_everyday,
  .container_zing-chart,
  .container_choice,
  .container_top100,
  .container_care,
  .container_release,
  .container_favorite-artist {
    margin-top: 20px !important;
  }
  .main_title-text {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .recently_title {
    margin-bottom: .8rem;
  }
  .recently_list-item-title {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: auto;
    overflow: hidden;
  }
  .main_subtitle {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: auto;
    overflow: hidden;
    font-size: 1.1rem;
    font-weight: normal;
  }
  .container_radio .main_subtitle {
    font-size: 1.2rem;
  }
  .main-page .container_zing-chart .zing-chart_top a {
    margin-bottom: 12px;
  }
  .main-page .container_zing-chart #myChart {
    width: 100%;
  }
  .main-page .container_zing-chart .zing-chart_right {
    max-height: unset;
    max-width: 100%;
    width: 100%;
  }
  .main-page .container_zing-chart .container_zing-chart-pos {
    padding: 1.2rem;
  }
  .main-page .container_zing-chart .zing-chart_top a {
    font-size: 2rem;
    padding-top: .8rem;
    padding-left: .8rem;
  }
  .main-page .container_zing-chart .zing-chart_top a span {
    font-size: 3.2rem;
  }
  .main-page {
    margin-left: 0;
    margin-bottom: 11.2rem;
    margin-top: 5rem;
  }
  .main-page .slider_list .slider_list-item {
    padding: 0 1.6rem;
  }
  .main-page .container_choice {
    padding-bottom: 2.6rem;
  }
  .main-page .container_choice .slick-dots {
    bottom: -2.6rem;
  }
  .main-page .container_release .slider_list-item {
    padding: 0 1.6rem;
  }
  .main-page .release_list {
    padding-bottom: 2rem;
    margin-bottom: 6px;
  }
  .main-page .release_list .slick-dots {
    bottom: 0;
  }
  .main-page .slick-dots {
    position: absolute;
    bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    gap: 6px;
  }
  .main-page .slick-dots .slick-active button {
    background-color: var(--white);
  }
  .main-page .slick-dots button {
    font-size: 0 !important;
    width: .8rem;
    height: .8rem;
    border-radius: 10rem;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
  }
  .main-page::-webkit-scrollbar-track {
    background-color: unset;
    cursor: unset;
  }
  .main-page::-webkit-scrollbar {
    width: 0;
    cursor: unset;
  }
  .main-page::-webkit-scrollbar-thumb {
    border-radius: unset;
    background-color: unset;
    cursor: unset;
  }
  .sider-navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100vw;
    max-width: 100%;
    height: auto;
    background-color: var(--layout-bg);
  }
  .sider-navbar .sider_active {
    padding-left: 0 !important;
    background-color: transparent !important;
  }
  .sider-navbar .sider_active .sider_menu-item-title {
    color: var(--purple-primary);
  }
  .sider-navbar .sider_active .material-icons-outlined {
    color: var(--purple-primary) !important;
  }
  .sider-navbar .sider_active span {
    color: var(--purple-primary) !important;
  }
  .sider-navbar .sider_menu-item a span:first-child {
    font-size: 2rem;
  }
  .sider-navbar .sider_divide,
  .sider-navbar .sider_menu-bottom,
  .sider-navbar .sider,
  .sider-navbar .sider-navbar-exanded {
    display: none;
  }
  .sider-navbar .sider_menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sider-navbar .sider_menu-list .sider_menu-item:not(.sider_active) a:hover {
    margin-left: 0;
  }
  .sider-navbar .sider_menu-list .sider_menu-item-title {
    display: block;
    margin-right: 0;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 4px;
  }
  .sider-navbar .sider_menu-list .sider_menu-item {
    width: 25%;
  }
  .sider-navbar .sider_menu-list .sider_menu-item a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 6px;
  }
  .sider-navbar .sider_menu-c {
    width: 100%;
  }
  .sider-navbar .sider_menu-c .sider_menu-list {
    margin: 0;
  }
  .player_queue .player_queue-main {
    height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);
  }
  .player_queue {
    bottom: 70px;
  }
  .player_queue-listmusic {
    padding-bottom: 3rem !important;
  }
  .playing-bar {
    bottom: 51px;
  }
  .playing-bar .playing-bar-main {
    height: unset;
    background-color: unset;
    border-bottom: 1px solid var(--border-player);
  }
  .playing-bar .playing-bar-main .player_device-column,
  .playing-bar .playing-bar-main .playing_random,
  .playing-bar .playing-bar-main .playing_karaoke,
  .playing-bar .playing-bar-main .playing_volume,
  .playing-bar .playing-bar-main .playing_window,
  .playing-bar .playing-bar-main .player_bottom,
  .playing-bar .playing-bar-main .playing_replay {
    display: none;
  }
  .playing-bar .playing-bar-main .icon_play-btn {
    font-size: 4.2rem;
  }
  .playing-bar .playing-bar-main .player_controls-center .player_top span:first-child {
    font-size: 2.4rem;
  }
  .playing-bar .playing-bar-main .player_controls-main {
    padding: .8rem 1.4rem;
  }
  .playing-bar .playing-bar-main .player_controls-left {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .playing-bar .playing-bar-main .player_controls-left .player_controls-media .media_left .media_avatar-hover {
    width: 45px !important;
    height: 45px !important;
  }
  .playing-bar .playing-bar-main .player_controls-left .media_left {
    width: 45px;
    min-width: 45px;
    height: 45px;
  }
  .playing-bar .playing-bar-main .player_controls-center {
    width: auto;
    padding-right: 0;
  }
  .playing-bar .playing-bar-main .player_controls-center .player_top .player_btn {
    margin: 0 .4rem;
  }
  .playing-bar .playing-bar-main .player_controls-right {
    width: auto;
  }
  .zing-chart_item-center {
    display: none !important;
  }
  .zing-chart_item-oder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-page .main_topchart .zing-chart-top {
    width: auto;
    margin-right: 0;
    font-size: 2.2rem;
  }
  .main-page .zing-chart_list .zing-chart-rank {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-page .zing-chart_list .zing-chart-rank .zing-chart-rank-num {
    font-weight: 600;
  }
  .zing-chart-rank-status {
    margin-top: 2px;
    width: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .material-icons-outlined.up,
  .material-icons-outlined.down {
    font-size: 2.2rem !important;
  }
  .main-page .main_topchart .zing-chart_list .zing-chart_item .zing-chart_item-left .zing-chart_item-oder {
    margin-right: 1rem;
  }
  .main_topchart .container_zing-chart {
    margin-top: 0 !important;
  }
}

@media (min-width: 500px) and (max-width: 719px) {
  .want_list.nowplaying-body_item {
    height: 100%;
  }
  .nowplaying .nowplaying-content .nowplaying-body .want_list-item .want_list-item-link,
  .nowplaying .nowplaying-content .recently_list-item_hover {
    width: 65%;
  }
}

@media (max-width: 510px) {
  .main-page .main_mv .main_mv-container .main_mv-search-dropdown .main_mv-dropdown-list {
    width: 260px;
  }
  main_mv-header .main-page .main_mv .main_mv-header {
    min-height: 36px;
  }
  .main-page .main_mv .main_mv-container .container_top100-list .main_mv-item-time {
    font-size: .9rem;
    font-weight: 400;
  }
  .main-page .main_mv .main_mv-header {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-page .main_mv .main_mv-container .main_mv-search-dropdown .main_mv-search-dropdown-btn {
    background: var(--queue-player-popup-bg);
  }
  .main-page .main_mv .main_mv-container .main_mv-search-dropdown .main_mv-search-dropdown-btn span:first-child {
    font-size: 1.6rem;
  }
  .main-page .main_mv .main_mv-container .main_mv-search-dropdown .main_mv-search-dropdown-btn span:last-child {
    font-size: 2rem;
  }
  .main-page .main_mv .main_mv-container .main_mv-search-dropdown .main_mv-search-dropdown-btn p {
    font-size: 1rem;
    margin-right: 1rem;
  }
  .main-page .main_mv .main_mv-header h3 {
    display: none;
  }
  #navHoaTau,
  #navHoaTauContent {
    display: none !important;
  }
  .main-page .main_mv .main_mv-header .main_mv-header_navbar {
    font-size: 1.2rem;
  }
  .main-page .main_mv .main_mv-container .container_top100-list .todaychoice_list-item-title .main_title-text {
    font-size: 1rem;
    margin-top: 0;
  }
  .main-page .main_mv .main_mv-container .container_top100-list .todaychoice_list-item-title .main_subtitle {
    font-size: 1rem;
  }
  .main-page .zing-chart_list .zing-chart-top {
    min-width: unset;
  }
  .main_topchart .zing-chart_item-oder {
    margin-right: 5px;
  }
  .main-page .main_topchart .zing-chart_list .zing-chart-top {
    min-width: 3.6rem;
  }
  .main_topchart .zing-chart_item-right {
    padding-right: 4px;
  }
  .main-page .main_topchart .container_zing-chart .zing-chart_list .zing-chart_item {
    padding: 8px 2px;
  }
  .main-page .zing-chart_right-top .zing-chart_right-top_item:nth-child(2) {
    margin: 0 1.4rem;
  }
  .main-page .zing-chart_right-top .zing-chart_right-top_item p {
    font-size: 1.2rem;
  }
}

@media (max-width: 430px) {
  .main-page .zing-chart_right-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main-page .zing-chart_right-top .zing-chart_right-top_item:nth-child(2) {
    margin: 0;
  }
  .main-page .zing-chart_right {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .main_personal .personal_navbar-menu .personal_menu-item {
    padding-left: .4rem;
    padding-right: .4rem;
    font-size: 1.15rem;
    font-weight: 400;
  }
  .main-page .main_topchart .main_topchart-title {
    max-width: 90%;
    text-align: left;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
  }
  .section {
    background-size: cover !important;
  }
}

@media (max-width: 360px) {
  .main_personal .personal_navbar-menu .personal_menu-item {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 1rem;
  }
  .main_personal h3 {
    font-size: 2rem;
  }
  .main_personal .personal_overview-item .personal_overview-title-right a {
    font-size: 1rem;
  }
}

@media (min-width: 2000px) {
  .section {
    background-size: cover !important;
  }
  .main_home,
  .header_content {
    max-width: 1400px;
    margin: auto;
  }
}
/*# sourceMappingURL=responsive.css.map */